# Check https://circleci.com/docs/2.0/language-elixir/ for more details
version: 2
jobs:
  build:
    docker:
      - image: circleci/elixir:latest

    working_directory: ~/repo
    steps:
      - checkout
      - run: mix deps.get
      - run: mix test